.grid-container {
  margin: 0 auto;
  padding: 0 12px;
  padding: 0 0.75rem;
  overflow: hidden;
}
.grid-row,
.grid-row > .grid-row {
  margin: 0 -12px;
  margin: 0 -0.75rem;
  display: block;
  text-align: left;
  word-spacing: -0.43em;
  letter-spacing: -0.31em;
  text-rendering: optimizespeed;
}
.grid-row > * {
  text-align: left;
  word-spacing: normal;
  letter-spacing: normal;
  text-rendering: auto;
}
.grid-row > .grid-row {
  margin: 0;
  overflow: hidden;
}
.grid-span0,
.grid-span1,
.grid-span2,
.grid-span3,
.grid-span4,
.grid-span5,
.grid-span6,
.grid-span7,
.grid-span8,
.grid-span9,
.grid-span10,
.grid-span11,
.grid-span12,
.grid-span {
  display: inline-block;
  width: 100%;
  box-sizing: border-box;
  padding-left: 12px;
  padding-right: 12px;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  vertical-align: top;
}
.grid-push0,
.grid-pull0,
.grid-push1,
.grid-pull1,
.grid-push2,
.grid-pull2,
.grid-push3,
.grid-pull3,
.grid-push4,
.grid-pull4,
.grid-push5,
.grid-pull5,
.grid-push6,
.grid-pull6,
.grid-push7,
.grid-pull7,
.grid-push8,
.grid-pull8,
.grid-push9,
.grid-pull9,
.grid-push10,
.grid-pull10,
.grid-push11,
.grid-pull11,
.grid-push12,
.grid-pull12 {
  position: relative;
}
.grid-span0 {
  width: 0%;
}
.grid-prefix0 {
  margin-left: 0%;
}
.grid-suffix0 {
  margin-right: 0%;
}
.grid-push0 {
  left: 0%;
}
.grid-pull0 {
  left: 0%;
}
.grid-span1 {
  width: 8.333333333333334%;
}
.grid-prefix1 {
  margin-left: 8.333333333333334%;
}
.grid-suffix1 {
  margin-right: 8.333333333333334%;
}
.grid-push1 {
  left: 8.333333333333334%;
}
.grid-pull1 {
  left: -8.333333333333334%;
}
.grid-span2 {
  width: 16.666666666666668%;
}
.grid-prefix2 {
  margin-left: 16.666666666666668%;
}
.grid-suffix2 {
  margin-right: 16.666666666666668%;
}
.grid-push2 {
  left: 16.666666666666668%;
}
.grid-pull2 {
  left: -16.666666666666668%;
}
.grid-span3 {
  width: 25%;
}
.grid-prefix3 {
  margin-left: 25%;
}
.grid-suffix3 {
  margin-right: 25%;
}
.grid-push3 {
  left: 25%;
}
.grid-pull3 {
  left: -25%;
}
.grid-span4 {
  width: 33.333333333333336%;
}
.grid-prefix4 {
  margin-left: 33.333333333333336%;
}
.grid-suffix4 {
  margin-right: 33.333333333333336%;
}
.grid-push4 {
  left: 33.333333333333336%;
}
.grid-pull4 {
  left: -33.333333333333336%;
}
.grid-span5 {
  width: 41.66666666666667%;
}
.grid-prefix5 {
  margin-left: 41.66666666666667%;
}
.grid-suffix5 {
  margin-right: 41.66666666666667%;
}
.grid-push5 {
  left: 41.66666666666667%;
}
.grid-pull5 {
  left: -41.66666666666667%;
}
.grid-span6 {
  width: 50%;
}
.grid-prefix6 {
  margin-left: 50%;
}
.grid-suffix6 {
  margin-right: 50%;
}
.grid-push6 {
  left: 50%;
}
.grid-pull6 {
  left: -50%;
}
.grid-span7 {
  width: 58.333333333333336%;
}
.grid-prefix7 {
  margin-left: 58.333333333333336%;
}
.grid-suffix7 {
  margin-right: 58.333333333333336%;
}
.grid-push7 {
  left: 58.333333333333336%;
}
.grid-pull7 {
  left: -58.333333333333336%;
}
.grid-span8 {
  width: 66.66666666666667%;
}
.grid-prefix8 {
  margin-left: 66.66666666666667%;
}
.grid-suffix8 {
  margin-right: 66.66666666666667%;
}
.grid-push8 {
  left: 66.66666666666667%;
}
.grid-pull8 {
  left: -66.66666666666667%;
}
.grid-span9 {
  width: 75%;
}
.grid-prefix9 {
  margin-left: 75%;
}
.grid-suffix9 {
  margin-right: 75%;
}
.grid-push9 {
  left: 75%;
}
.grid-pull9 {
  left: -75%;
}
.grid-span10 {
  width: 83.33333333333334%;
}
.grid-prefix10 {
  margin-left: 83.33333333333334%;
}
.grid-suffix10 {
  margin-right: 83.33333333333334%;
}
.grid-push10 {
  left: 83.33333333333334%;
}
.grid-pull10 {
  left: -83.33333333333334%;
}
.grid-span11 {
  width: 91.66666666666667%;
}
.grid-prefix11 {
  margin-left: 91.66666666666667%;
}
.grid-suffix11 {
  margin-right: 91.66666666666667%;
}
.grid-push11 {
  left: 91.66666666666667%;
}
.grid-pull11 {
  left: -91.66666666666667%;
}
